/* styles.css */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eae0d5;
}

header,
footer {
  background-color: #0a0908;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: #eae0d5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  font-family: 'Cinzel', serif;
}

h2,
h3 {
  color: #0a0908;
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  border-bottom: 2px solid #381820;
  padding-bottom: 0.5em;
}

section {
  margin-bottom: 2em;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;

}