@media screen and (max-width: 768px) {
    #menu {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.75rem;
        background-color: #1d2d44;
        color: #f0ebd8;
        cursor: pointer;
    }

    #members-container  {
        display: block;
    }

    a#menu {
        display: block;
      }

    #menu::before {
        content: "≡";
    }

    nav {
        background-color: #1d2d44;
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
        padding: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #f0ebd8;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
ul.navigation.show{
    color: #f0ebd8;
}

h2 {
    color: black;
}
    .navigation a:hover,
    .navigation a:active {
        color: #0d1321;
        background-color: #748cab;
    }

    .show li {
        display: block;
    }

    #menu.show::before {
        content: "X";
    }

    #toggle-view-btn{ 
        display: none;
    }

    .spotlights {
        display: block;
        gap: 20px;
        padding: 20px;
        justify-content: center;
      }

    section.temperature {
        display: block;
        padding: 20px;
        margin-top: 10px;
        justify-content: center;
      }
      
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
        padding: 5px;
      }
    }


